@charset "utf-8";
body {
	background-image: url(../img/indexbg.jpg);
	background-repeat: round;
	background-size: auto;
	font-family: "Microsoft YaHei"; }

.findpw p {
	position: relative;
	top: 10px;
	right: 25px;
	float: right;
	font-size: 9px;
	color: #42a8f3;
	cursor: pointer; }

.findpw p:hover {
	color: #8dccfb; }

.login {
	box-shadow: 2px 2px 10px 0px grey;
	width: 300px;
	height: 400px;
	background-color: white;
	float: right;
	position: relative;
	right: 20%;
	top: 100px; }

.subimg {
	position: relative;
	top: 20px;
	text-align: center; }

.username {
	margin: 30px 0 0 0;
	text-align: center; }

.username input {
	width: 250px;
	border-color: #cecece;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px; }

.password input {
	width: 250px;
	border-color: #cecece;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px; }

.password {
	margin: 10px 0 0 0;
	text-align: center; }

.subbtn {
	cursor: pointer;
	display: block;
	text-align: center;
	width: 250px;
	height: 40px;
	background-color: #79c16f;
	line-height: 40px;
	margin: 60px 0 0 25px;
	border-radius: 4px; }

.subbtn p {
	cursor: pointer; }

.cutline {
	width: 60%;
	height: 2px;
	background-color: grey;
	position: absolute;
	left: 20%; 
	top: 650px; }

.about {
	width: 60%;
	color: grey;
	position: absolute;
	left: 26%; 
	top: 670px; }

